@import './mixin.scss';

.btn-group {
  padding: p2r(30) p2r(40);
}
.btn {
  padding: p2r(24) p2r(48);
  border-width: 1px;
  border-style: solid;
  font-size: p2r(28);
  transition: background-color ease 0.2s;
}
.btn.btn-block {
  width: 100%;
}
.btn.btn-radius {
  border-radius: 5px;
}
.btn.btn-primary {
  color: #fff;
  border-color: #5993FF;
  background-color: #5993FF;
}
.btn:active {
  background-color: #2672ff;
}
.btn:disabled {
  border-color: #AFAFAF;
  background-color: #AFAFAF;
}